.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

html, body, #appContainer, #app {
  margin: 0;
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.filter-box {
  width: 25%;
  height: 20%;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 8px;
  font: 14px/16px Arial,Helvetica,sans-serif;
  background: #fff;
  background: rgba(255,255,255,.8);
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  border-radius: 5px;
  pointer-events: auto;
}
