.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

html, body, #appContainer, #app {
  margin: 0;
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.filter-box {
  width: 20%;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 8px;
  font: 14px/16px Arial,Helvetica,sans-serif;
  background: #fff;
  background: rgba(255,255,255,.8);
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  border-radius: 5px;
  pointer-events: auto;
}

.slider {
  width: 100%;
  height: 50px;
  padding-bottom: 50px;;
}
.slider .handle {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  top: 1px;
  width: 50px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
}
.slider .bar {
  position: relative;
  background: #ddd;
  top: 20px;
  height: 10px;
}

.react-spinner {
  width: 150px;
  height: 150px;
  z-index: 1000;
  background-color: gray;
  border-radius: 15px;
}
.react-spinner_bar {
  top: 46%;
  left: 40%;
}
